[submodule "public"]
	path = public
	url = https://github.com/sergio101/TOG-Website.git
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
